.card-img-top{
  width: 100%;
  height: 100px;
}
.navbar-nav{
  float: right !important;
}
body{
  background-image: url("/assets/background.jpg");
  background-repeat: no-repeat;    
  background-size: 100%;
}